.footer-main{
    background-color: #303443;
}
.big-footer{
    display: flex;
    padding: 60px;
}
.small-footer-sub-icon{
    cursor: pointer;
    padding-left: 10px;
    color: #706b6b;
    transition: 0.8s;
}
.ltd:hover{
    text-decoration: underline;
    color: blue;
}
.ltd{
    text-decoration: none;
    transition: 0.6s;
}
.small-footer-sub-icon:hover{
    color: blue;
}
.small-footer-sub-span{
    height: 25px;
    margin-left: 5px;
    margin-top: -5px;
    width: 1px;
    font-size: 20px;
    background-color: #706b6b;
    position: absolute;
}

.map{
    background-image: url(../backgroundImg/map.png);
}
.big-footer-sub-hr{
    height: 1px;
    color: yellow;
    background-color: yellow;
}
.big-footer-sub-img{
    height: 100px;
    width: 90%;
}
.big-footer-sub{
    display: grid;
    width: 100%;
    padding: 20px;
    
}
.big-footer-sub-p{
    line-height: 25px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
    transition: 0.7s
}
.big-footer-sub-p:hover{
    color: blue;
}
.big-footer-sub-pp{
    color: #6b6b6b;
    font-weight: 700;
}
.big-footer-sub h3{
    color: yellow;
    padding-bottom: 20px;
}
.big-footer-sub-li{
    
    list-style: none;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.712);
}
.big-footer-sub-li span{
    float: right;
}
.closed{
    color: white;
    font-weight: 600;
}
.thm-btn:hover{
    background-color: blue;
    border: 1px solid yellow;
}
.thm-btn{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: yellow;
    border: 1px solid #ffffff;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding: 15px 5px;
    border-radius: 30px;
    transition: 0.7s;
}
.thm-btn-map{
    font-weight: 600;
    color: blue;
    text-align: center;
    transition: 0.7s;
}
.thm-btn-map:hover{
    color: yellow;
}
.small-footer{
    display: flex;
    background-color: white;
    padding: 20px 40px;
    justify-content: space-between;
    
    
}